
.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.calendar-table {
  margin: 1em 3em 0 3em;
  padding-bottom: 3em;
}

.ui.celled.grid {
  margin: 0;
  background-color: #ffffff73;
}

.ui.celled.grid>.row>.column {
  box-shadow: -1px 0 0 0 #000000;
}

.ui.celled.grid>.row {
  box-shadow: 0 -1px 0 0 #000000;
}

.ui.celled.grid {
  box-shadow: 0 0 0 1px #000000;
}

.ui.button {
  font-size: 0.8rem;
}

.month-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #0f0f0fb8;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
