.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.calendar-table {
  border: solid black;
  margin: 3em;
}

.ui.celled.grid {
  margin: 0;
}

.ui.button {
  font-size: 0.8rem;
}

.month-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5em 2.5em -1em 2.5em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
